# Logs
logs
*.log
npm-debug.log*
package-lock.json
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

scripts/*.js
node_modules
dist
dist-ssr
*.local
dist
release
vanilla
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
